* {
	font-family: "Roboto", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

#profile {
	height: 250px;
	width: 250px;
}

#landing {
	/*viewport height- measured percentage of the height of the device you are viewing your webpage in*/
	height: 80vh;

	/*arranges elements inside the parent element, will allow us to lay out our elements insde our landing section*/
	display: flex;

	/*directs the elements inside the display: flex*/
	flex-direction: column;

	/*centering elements horizontally if flex-direction is in column*/
	align-items: center;

	/*centering element vertically if flex-direction is in column*/
	justify-content: center;
}

.jumbotron {
	background-color: light;
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;
	border-radius: 6px;
}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	/*hex*/
	color: 	#7FFFD4;
}

.tools	{
	/*line- around the element*/
	border: 5px solid #f2f2f2;

	/*space outside the element*/
	margin: 20px;
	/*space inside the element*/
	padding: 25px;

	height: 200px;


	/*based on the total width of the parent*/
	width: 75%;

	color: lightgray;
}

html {
	scroll-behavior: smooth;
}